<footer class="footer">
	<div class="container inner">
		<div class="muted">© 2026 Gracie‘s Blog</div>
	</div>
</footer>

<style>
	.footer {
		padding: 26px 0 50px;
	}
	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
